<%- include('partials/header'); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Tropical Twist</h4>
        <p>Peach, Pineapple, Apple juice</p>
    </li>
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Protien Shake</h4>
        <p>Peanut butter, Banana, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Tropical Twist</h4>
        <p>Peach, Pineapple, Apple juice</p>
    </li>
    <li class="recipe">
        <img src="/smoothie.png" alt="">
        <h4>Protien Shake</h4>
        <p>Peanut butter, Banana, Milk</p>
    </li>
</ul>

<%- include('partials/footer'); -%>
